/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	margin: 28px;
	font-family: Verdana, arial, Gautami;
	letter-spacing: 0.1em;
}

.headline {
	font-size: 25px;
	color: #202020;
}

.headline-text {
	font-size: 13px;
	line-height: 45px;
	padding-left: 2.5em;
	text-indent: 0;
	color: #202020;
}

.nav-link {
	color: #202020;
}

.nav-link:hover {
	background-color: black;
	color: white;
}